.big-title {
  font-size: 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: white !important;
  background-color: #087990 !important;
  padding: 6px 12px;
  font-weight: bold;
}

.lotto-history-list-item .item {
  border: solid 1px #e1e1e1;
  margin-top: 10px;
}

.lotto-history-list-item .item .header-item {
  padding: 6px;
  background: #f9f9ff;
  color: #3d405c;
}

.lotto-history-list-item .item .item-more-detail {
  border-top: solid 1px #e1e1e1;
}

.lotto-history-list-item .item .item-more-detail .title-box {
  width: 80px;
  padding: 6px;
  color: #3d405c;
}

.lotto-history-list-item .item .item-more-detail .inner-item {
  width: calc(100% - 80px);
}

.lotto-history-list-item .item .item-more-detail .inner-item.title .item-content {
  background: #ebebeb;
}

.lotto-history-list-item .item .item-more-detail .item-content {
  padding: 6px;
  text-align: center;
  border-left: solid 1px #e1e1e1;
}

.lotto-history-list-item .title-box {
  background: rgba(249, 249, 249, 0.5);
}

.item-group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-group-wrapper .group-title {
  width: 100px;
  border-top: solid 1px #e1e1e1;
  border-right: solid 1px #e1e1e1;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #17a2b8;
  color: #fff;
}

.item-group-wrapper .list-item {
  width: calc(100% - 100px);
}

.current-game-countdown-timebox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.current-game-countdown-timebox .item {
  margin: 5px;
  background: #428bca;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.lotto-current-item-wrapper {
  position: relative;
}

.in-loading-item {
  position: relative;
}

.in-loading-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.in-loading-item::after {
  content: "\f110";
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 1s infinite linear;
  font-size: 30px;
  z-index: 3;
  margin-left: -25px;
  margin-top: -25px;
}
