html,
body {
    height: 100%;
    width: 100%;
    background-color: #9195a3;
    padding: 0;
    margin: 0;
}
.swal-footer{
    text-align: center!important;
}
.swal-button{
    outline: none!important;
    box-shadow: none!important;
}
.content-game-win-bet-scuccess{
    text-align: left;
    font-size: 18px;
}
.content-game-win-bet-scuccess .item-info:not(:last-child){
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ebebeb;
}
.content-game-win-bet-scuccess .item-info .title{
    font-size: 15px;
    margin-bottom: 5px;
}
.image-reload-money-user{
    transform: rotate(0);
}
.image-reload-money-user.in-reload{
    animation: rotateReload .5s 1 linear;
}
.profile-reload-user-money-btn img{
    transform: rotate(0);
}
.profile-reload-user-money-btn.in-reload img{
    animation: rotateReload .5s 1 linear;
}
@keyframes rotateReload {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}
.home .banner{
    position: relative;
}
.home .banner .slider-pagination{
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
    left: 0;
    bottom: 10px;
    pointer-events: none;
}
.slider-pagination {
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
    left: 0;
    bottom: 15px;
    pointer-events: none
}

.slider-pagination .swiper-pagination-bullet {
    pointer-events: all;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    opacity: .5;
    background: #f2413b;
}

.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: #f2413b;
}

.slider-pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: 6px;
}